@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    color: rgb(77, 47, 1);
}

body {
    background-color: rgb(138, 136, 136);
    height: 1000px;
}

h1 {
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin: 150px;
}

table {
    border: 3px solid rgb(251, 126, 8);
    padding: 50PX;
    background-color: rgb(54, 54, 54);
    form {
        height: 150vh;
        margin: 0 auto;
    }
}

tr {
    td {
        // height: 50px;
        width: 50%;
        margin: 15px;
        text-align: center;
        input {
            color: chocolate;
            font-size: 20px;
            width: 450px;
            height: 50px;
            text-align: center;
            background-color: rgb(230, 205, 123);
            // border-radius: 50px;
        }
        input[type=submit] {
            margin-top: 15px;
            width: 200px;
            height: 30px;
            text-align: center;
            background: rgb(0, 0, 0);
            // border-radius: 50px;
        }
        input[type=submit]:hover {
            background-color: rgb(180, 54, 79);
        }
    }
}